* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.inputContainer {
  display: flex;
  gap: 10px;
  margin: 2%;
}

.buttonsContainer {
  display: flex;
}

.btn {
  margin: 1%;
  width: 100px;
}

.memeContainer {
  display: flex;
  align-items: center;
}

.meme {
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.memeTitle,
.memeSubtitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  position: relative;
  background-color: white;
  padding: 2%;
  border-radius: 10%;
  font-size: 1.2rem;
  width: fit-content;
  margin: 0 auto;
}

.memeTitle {
  top: 55px;
}

.memeSubtitle {
  bottom: 70px;
}
