* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(206, 92, 92);
}

.pageTitle {
  margin: 1%;
  padding: 1%;
}

.flexContainer {
  display: flex;
}

.inputContainer {
  display: flex;
  flex-direction: column;

  margin: 2%;
}

.input {
  padding: 3%;
}

.btn {
  margin: 1%;
  width: 100px;
  padding: 10px;
}

.memeContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.memeContainer > img {
  height: 400px;
}

.memeTitle,
.memeSubtitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  font-size: 2.5rem;
  opacity: 0.9;
  color: white;
  text-shadow: 5px 4px black;
}

.memeTitle {
  top: 10px;
}

.memeSubtitle {
  bottom: 20px;
}
